*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(175, 245, 241);
}
header{
  background-color: rgb(112, 245, 200);
  border: 10px solid rgb(243, 248, 248);
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(31, 7, 87);
}

.input-container{
  display: flex;
  padding: 10px;
  margin: 10px;
}

.style-search-contents{
  background-color :rgb(112, 245, 200);
  border: 2px solid rgb(5, 2, 2);
  justify-content: left;
  margin: 5px;
  font-size: large;
  padding: 0;
  text-align: center;

}

.article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#forecast-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.forecast-day {
  flex: 1 0 18%;
  margin: 1%;
  padding: 10px;
  border-radius: 10px;
}